$blue:#d1efff;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin media-query-size($min,$max) {
  @media only screen and (min-width:$min) and (max-width:$max) {
    @content;
  }
}

@mixin media-query--phone() {
  @media only screen and (min-width:0px) and (max-width:550px) {
    @content;
  }
}

.noDisplay {
  opacity:0;
}

.styledButton {
  background:none;
  border:none;
  outline:none;
  cursor:pointer;
  color:#b1b1b1;

  &:hover {
    @include transition(200ms all ease);
    color:#333;
  }
}

.styleActionButton {
  @include transition(200ms all ease);
  background:black;
  color:white;
  outline:none;
  border:none;
  padding:0.6em 0.8em;
  cursor:pointer;
}

.audioPlayer:focus {
  outline:none;
}

body {
  margin:0;
  padding:0;
  width:100%;
  background:$blue;
}

main {

  section {
    display:block;
    margin:4em auto;

    .copyAction {
      display:inline-block;
      height:20px;

      .copyPassword {
        @include transition(500ms all ease);
        @extend .styledButton;
        padding:0.2em;
        font-size:1.1em;

        &:focus {
          @include transition(500ms all ease);
          margin-top:-2px;
        }
      }

      .fa-check {
        color:#a5a0a0;
        margin:0.1em 0 0 0.15em;
        font-size:1em;

        &.visible {
          visibility:visible;
          opacity:1;
        }

        &.hidden {
          visibility:hidden;
          opacity:0;
          transition:visibility 0s 2s, opacity 2s linear;
        }
      }
    }

    .audioAction {
      display:inline-block;
      float:right;

      .audioPopupTrigger {
        @extend .styledButton;
      }
    }

    &.passwordGenerate {
      @include transition(200ms all ease);
      @include box-shadow(5px 5px black);
      width:fit-content;
      min-width:405px;
      padding:1em;
      margin:4em auto;
      display:block;
      background:white;

      .mobileTop {
        vertical-align:top;
        display:inline-block;
      }

      .mobileBottom {
        vertical-align:top;
        display:inline-block;
        float:right;
      }

      @include media-query--phone {
        width:82%;
        min-width:auto;

        .mobileTop {
          display:block;
          text-align:center;
          margin-bottom:15px;
        }

        .mobileBottom {
          display:block;
          float:none !important;

          button {
            display:block;
            margin:auto;
            float:none !important;
          }
        }
      }

      .container {
        position:relative;

        .top {
          position:absolute;
          top:-65px;
          right:-13px;

          img {
            width:70px;
          }
        }

        .createdPassword {
          background:#f5f5f5;
          padding:0.5em;
          text-align:center;
          font-size:2em;
          font-weight:100;
          font-family:"Courier New",sans-serif;
          min-height:36px;
          height:36px;
          cursor:pointer;
          z-index:999;

          @include media-query--phone {
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
          }

          &:focus {
            outline:none;
          }
        }

        .passGenForm {
          display:block;
          margin:2em 0 0 0;

          label {
            font-family:sans-serif;
            text-transform:uppercase;
            font-weight:800;
            font-size:0.6em;
            vertical-align:top;
          }

          select {
            vertical-align:top;
            display: inline-block;
            color: #444;
            padding: .2em 1.4em .2em .3em;
            box-sizing: border-box;
            margin: 0;
            border: 1px solid #000;
            border-radius: .2em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color:white;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat, repeat;
            background-position: right 0 top 50%, 0 0;
            background-size: 1.65em auto, 100%;

            &::-ms-expand {
              display: none;
            }

            &:focus {
              border: 1px solid #000;
              outline: none;
            }

            option {
              font-weight:normal;
            }
          }

          .lengthContainer {
            display:inline-block;
            margin:0 0 0 8px;
          }

          button {
            //margin:-5px 0 0 0;
            float:right;

            &:active {
              @include transition(200ms all ease);
              //margin:-6px 0 0 0;
            }

            &:hover {
              @include transition(200ms all ease);
              background:#717171;
            }
          }
        }
      }
    }

    &.passwordHistory {
      display:none;
      position:absolute;
      bottom:3%;
      margin:0;
      right:1%;
      background:white;
      width:auto;
      height:200px;

      .menuAction {
        position:relative;
        display:block;

        .visibleAction {
          background:white;
          padding:0.4em 0.4em 0 0.4em;
          outline:none;
          border:none;
          cursor:pointer;
          position:absolute;
          top:-20px;
          right:0;
          border-bottom:1px solid #a09f9f;
        }
      }

      .tableContainer {
        height:180px;
        max-height:180px;
        overflow-y:scroll;
        overflow-x:hidden;
        background:white;

        table {
          font-family:'Helvetica',sans-serif;
          text-align:center;
          color:#333;
          position:relative;
          border-top:1px solid #a09f9f;

          thead {
            font-size:0.8em;
            font-weight:200;
            width:100%;
            background:white;
            padding:2px 0 0 0;

            th {
              position:sticky;
              background:white;
              top:0;
              padding:5px 0 0 0;

              &:nth-of-type(1) {
                width:20%;
              }

              &:nth-of-type(2) {
                width:69%;
              }

              &:nth-of-type(3) {
                width:10%;
              }
            }
          }

          tbody {
            font-size:0.7em;

            tr {
              border-bottom:1px solid #e4e4e4;

              td {
                padding:0.5em;

                &:nth-of-type(1), &:nth-of-type(2) {
                  width:15%;
                }

                &:nth-of-type(3) {
                  width:59%;
                  font-family:"Courier New",sans-serif;
                }

                &:nth-of-type(4) {
                  width:10%;
                }
              }

              &:nth-of-type(even) {
                background:#f3f3f3;
              }
            }
          }

          &::-webkit-scrollbar {
            width: 10px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          &::-webkit-scrollbar-thumb {
            background: #888;
          }
        }
      }
    }
  }
}

footer {
  text-align:center;
  color:#333;
  width:100%;
  position:absolute;
  bottom:1%;

  a {
    color:#333;
  }

  p {
    font-size:0.9em;
    font-style:italic;
    margin:0;
  }

  ul {
    margin:0;

    li {
      display:inline-block;
      margin:0 1em 0 0;

      &:last-of-type {
        margin:0;
      }

      a {
        color:#333;
        font-size:0.8em;
      }
    }
  }
}

.overlay {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
  transition:opacity 200ms;
  visibility:hidden;
  opacity:0;
  z-index:9999;
  text-align:center;

  &.active {
    visibility:unset;
    opacity:unset;
  }

  &.light {
    background:rgba(255,255,255,0.5);
  }

  .cancel {
    position:absolute;
    width:100%;
    height:100%;
    cursor:default;
  }

  &:target {
    visibility:visible;
    opacity:1;
  }

  .popup {
    @include box-shadow(0 0 50px rgba(0,0,0,0.5));
    margin:75px auto;
    padding:20px;
    background:white;
    border:1px solid #666;
    min-width:300px;
    width:600px;
    position:relative;

    .audioContainer {
      min-height:80px;
    }

    @include media-query--phone {
      width:85%;
    }

    .light & {
      @include box-shadow(0 2px 10px rgba(0,0,0,0.25));
      border-color:#aaa;
    }

    .close {
      position:absolute;
      width:20px;
      height:20px;
      top:20px;
      right:20px;
      opacity:0.8;
      transition:all 200ms;
      font-size:24px;
      font-weight:bold;
      text-decoration:none;
      color:#666;

      &:hover {
        opacity:1;
      }
    }

    .content {
      max-height:400px;
      overflow:auto;
      margin:2em 0 0 0;

      p {
        margin:0 0 1em 0;
        line-height:1.6;
        font-size:1em;
        font-family:"Helvetica",sans-serif;
        text-align:center;

        a {
          color:black;
        }

        &.topLogo {

          img {
            width:70px;
          }
        }

        &:last-child {
          margin:0;
        }
      }
    }
  }
}